project documents/
*.zip
*.rar
phase 2 Types/Deep learning/Dataset
phase 2 Types/Deep learning/preprocessed images_224
phase 2 Types/Deep learning/preprocessed images_40
phase 2 Types/Deep learning/preprocessed images
NMIS/IshitaDataset/

