<!DOCTYPE html>
<html lang="en">

<head>
    <link rel='icon' href='#' type='image/x-icon'>
    <title>Netra</title>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href={{ url_for('static', filename= 'style.css') }}>

</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md fixed-top main-navbar">
            <button class="navbar-toggler" type="button" style="background-color: #2650a4;" data-toggle="collapse"
                data-target="#Navbar">
                <span class="fa fa-bars" style="color: white">
                </span>
            </button>
            <div class="center">
                <a class="navbar-brand mt-3 mr-5 ml-5 nav-style" href="home.html">
                    Netra
                </a>
            </div>
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="nav navbar-nav mt-3 mr-5 about-nav-element">
                    <li class="nav-item active px-2"><a class="nav-link nav-style nav-size"
                            href="{{ url_for('hello') }}"> Home
                        </a>
                    </li>
                    <li class="nav-item px-2"><a class="nav-link nav-style nav-size" href="{{ url_for('about') }}">
                            About</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container-fluid">
        <div class="row d-sm-flex align-items-center justify-content-between">
            <div class="col-md-6 order-2 order-sm-1 p-3 p-sm-5">
                <div class="p-0 p-sm-5">
                    <small class="text-uppercase" style="color: rgba(37, 124, 204, 1);">Welcome</small>
                    <h1 class="mb-4 display-4" style="font-weight: 600;">ABOUT<span
                            style="color: rgba(37, 124, 204, 1);"> NETRA</span></h1>
                    <p class="text-secondary" style="line-height: 2;">As per the survey done by World health
                        organization, cataract is one of the leading causes for blindness around the world. Cataract
                        majorly affects aged population however not restricted to aged people and can be seen among
                        minors too.Our system works on
                        detection and classification of cataract on three major types as mentioned above in an attempt
                        to reduce errors of manual detection of cataract in the early ages</p>

                </div>
            </div>
            <div class="w-100 col-md-6 order-1 order-sm-2 about-image">
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row footer">
            <div class="col-12">
                <h5 class="mt-3 mb-3">Developed with care 💻 under the guidance of Mr.Swapnil Shinde</h5>
            </div>
        </div>
    </div>